header {
    background-color: #222222;
    width: 100%;
    color: white;
}
body {
    width: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Lato';
    resize: horizontal;
}

.HeaderUpper{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #3C3C3C;
    padding-top: 10px;
    padding-bottom: 10px;
}

.HeaderUpperContent{
    width: 90vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 50px;
}

.HULmob{
    display: none;
}
.HULeft{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}
.HURight{
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: space-between; */
}
.languageToggle{
    width: 77px;
}
.HURfont{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.lightTheme{
    background-color: white;
    padding-top: 2px;
}
.darkTheme{
    background-color: #FEBE10;
    padding-top: 2px;
}
header hr {
    border-color: #FEBE10;
    border-width: 0.5px;
    margin: 0;
}
.HeaderLower{
    display: flex;
    justify-content: center;
}
#search-icon1 {
    display: none;
}

#iitr-slogan {
    display: none;
}

.header-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text-hindi {
    font-size: 1.4em;
}

.header-logo-text div {
    color: white;
}


.short-hr {
    border-color: #FEBE10;
    border-width: 0.5px;
    margin: 0;
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

nav ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
}

header a {
    color: white;
    text-decoration: none;
}

nav a::after {
    content: url("assets/arrowDown.svg");
    margin-left: 5px;
    vertical-align: top;
}

main p {
    color: white;
    font-size: 3.5em;
    font-weight: 800;
    position: absolute;
    top: 28%;
    left: 15%;
}

#bg-image, #bg-image2 {
    /* content: url("assets/background.png"); */
}

#bg-image, #bg-image2{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.socials{
    display: flex;
    flex-direction: column;
    /* width: 112vw; */
    align-items: flex-end;    
    top: 190px;
    position: relative;
}
.facebook,
.X,
.LinkedIn,
.insta,
.youtube{
    height: 50px;
    width: 50px;
}

.stats-cover {
    display: flex;
    justify-content: center;
    /* top: 0px; */
}

.stats {
    display: flex;
    width: 90vw;
    color: white;
    position: absolute;
    top: 880px;
    justify-content: center;
    align-items: stretch;
}

.stats div {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.stats div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats .students,
.stats .staff {
    background-color: #99BBD1;
}

.stats .patents,
.stats .faculty {
    background-color: #202020;
}

.stats div p {
    font-size: 2em;
    margin: 0;
}



.researches-cover {
    display: flex;
    justify-content: center;
    width: auto;
    position: absolute;
    top: 1100px;
    padding-top: 100px;
    left: 5vw;
}

.researches {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.researches-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.recent-research {
    font-size: 1.8em;
}

.research-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    height: 900px;
    z-index: 5000;
}

.research-grid div {
    /* background-color: #99BBD1; */
    
}

.block1 {
    z-index: 20;
    grid-column: span 3;
    grid-row: span 1;
    background-image: url("assets/block1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.block2 {
    grid-column: span 3;
    grid-row: span 2;
    background-image: url("assets/block2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.block3 {
    grid-column: span 3;
    grid-row: span 2;
    background-image: url("assets/block3.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.block4 {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url("assets/block4.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
}

.block5 {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url("assets/block5.svg");
    /* background-repeat: no-repeat;*/
    background-size: cover;
}

.block6 {
    grid-column: span 4;
    grid-row: span 2;
    background-image: url("assets/block6.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.block7 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url("assets/block7.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.block8 {
    grid-column: span 3;
    grid-row: span 1;
    background-image: url("assets/block8.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.patents-cover {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 2150px;
    /* z-index: 100; */
    padding-top: 100px;
}
.patentsContent {
    width: 90vw;
    display: flex;
    flex-direction: column;
}
.patents-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.recentlyGrantedPatents {
    font-size: 1.8em;
}
.patents-carousel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 60px; /*20*/
    padding-left: 75px;
    padding-right: 75px;
    z-index: 10000;
}
.patents-carousel img{
    min-width: 0;
    /* scale: 1.2; */
    /* width: 200px; */
}
.chevron-patents{
    width: 40px;
    scale: 2;
}
.GrantedPatentsImgShadow{
    /* display: none; */
    width: 410px;
    height: 200px;
    color: white;
}
.GrantedPatentsImg{
    top: 230px;
    left: 299px;
    position: absolute;
    height: 200px;
    width: 300px;
    scale: 1.7;
}
.RMbtn{
    margin-right: 10px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.AFLbtn{
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}
#patent-detail2{
    display: none;
}
.rankings {
    position: absolute;
    top: 2710px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 100vw;
    align-items: center;
    gap: 0px;
}

.rankings span {
    font-size: 2em;
}

.rankings-row {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 0px;
}

.rank-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.43%;
    padding-left: 1.5%;
    border-right: 1px solid #C4C4C4;
    white-space: nowrap;
}

.rank-item:nth-of-type(4) {
    border-right: none;
    border-bottom: none;
}

.rank-item img {
    width: 177px;
    height: 177px;
}

.rank-item span {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 3px 3px #FBD880;
    display: flex;
    justify-content: center;
}
#rank-foot{
    display: flex;
}
#rank-head{
    display: none;
}


.achievements-cover {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 3225px;
    background-color: #99BBD1;
}
.achievements {
    width: 90vw;
    display: flex;
    flex-direction: column;
}
.achievements-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.recent-achievement {
    font-size: 1.5em;
}
.achievements-carousel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.achievement-item {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    color: grey;
    min-width: 0;
    align-self: stretch;
    border-radius: 10px;
    z-index: 5;
}
.achievement-item span {
    color: white;
    font-size: 1.2em;
}
.achievement-item div {
    font-size: 1.1em;
    line-height: 30px;
    padding: 15px;
}

.carousel-bubbles {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #23232380;
    border-radius: 50%;
    display: inline-block;
}

.dot:nth-of-type(2) {
    background-color: black;
}

.events-cover {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 4080px;
}

.events {
    width: 77vw;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #232323;
    border-radius: 10px;
    padding: 30px;
}

.events p {
    font-size: 1.8em;
}

.events-carousel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.events-list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-self: stretch;
    justify-content: flex-start;
}
.events-img {
    min-width: 0;
    padding-bottom: 26px;
    padding-left: 227px;
}
.event {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}
.event:hover{
    background-color: #F9B202;
    border-radius: 10px;
}
/* .event:nth-of-type(3) {
    background-color: #F9B202;
    border-radius: 10px;
} */
#event-detail{
    display: none;
    /* font-size: 1.7em; */
}


.milestones-cover {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 4880px;
}

.milestones {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.milestones-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.milestones-text {
    font-size: 1.5em;
}
.milestones-bubbles {
    display: flex;
    justify-content: space-around;
}
.bubble-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bubble-item:hover{
    color: #F9B202;
}
/* .bubble-item:nth-of-type(6) {
    color: #F9B202;
} */
.milestones-carousel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.milestones-img{
    padding-left: 150px;
    width: 400px;
    height: 400px;
    scale: 1.8;
}
.spacebtwn{
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}
.milestones-carousel img{
    min-width: 0;
    /* width: 800px; */
}
#milestone-detail2{
    display: none;
}





.info-cover {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 5550px;
}

.info {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}

.info hr {
    border-color: rgb(198, 195, 195);
    border-width: 0.5px;
    margin: 0;
}

.noticeboard-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(40vw);
}

.noticeboard-text {
    font-size: 1.5em;
}

.upcoming-events-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(40vw);
}

.upcoming-events-text {
    font-size: 1.5em;
}


.board-list {
    display: flex;
    flex-direction: column;
    background-color: #99BBD159;
    padding: 15px;
    border-radius: 10px;
    gap: 30px;
}

.board-item {
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.board-item-row {
    display: flex;
    justify-content: space-between;
}

.upcoming-events-list {
    display: flex;
    flex-direction: column;
}

.upcoming-events-item {
    display: flex;
    gap: 10px;
}

.ue-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #86868633;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
}

.ue-large {
    font-size: 1.5em;
    font-weight: 200;
}



footer {
    position: absolute;
    top: 6250px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: #F7F7F7;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-row1 {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.reach {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-logo {
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    gap: 5px
}

.footer-item span {
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
    color: #F7F7F7;
}


.footer-row2 {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
#footer-actions{
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.footer-row3 {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
}

@media(max-width: 1539){
    .achievements-cover{
        top: 3500px;
    }
}



@media(max-width: 1315px) and (min-width:1193px){
    nav{
        font-size: 13px;
    }
    .rankings{
        top: 2850px;
    }
    .chevron-patents {
        width: 20px;
        scale: 10;
    }
    .GrantedPatentsImg{
        left: 270px;
        top: 315px;
    }
    .achievements-cover{
        top: 3340px;
    }
    .events-cover{
        top: 4180px;
    }
    .stats{
        top: 670px;
        scale: 0.8;
        left: 7%;
    }
    .researches-cover{
        top:833px;
    }
    .patents-cover{
        top: 2000px;
    }
}
@media(max-width: 2000px) and (min-width:1330px){
    .rankings-row{
        gap: 50px;
    }
}
@media(max-width: 1193px) and (min-width:1000px){
    #bg-image, #bg-image2{
        top: 100px;
        scale: 1;
    }
    .GrantedPatentsImg{
        scale: 1.6;
        left: 250px;
        top: 315px;
    }
    .chevron-patents {
        width: 20px;
        scale: 12;
    }
    .patents-carousel{
        padding-left: 50px;
        padding-right: 0px;
    }
    .rankings{
        top: 2900px;
    }
    .socials{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .HeaderUpper{
        width: 100%;
    }
    nav{
        /* padding-left: 15px; */
    }
    .stats{
        top: 730px;
        scale: 0.8;
        left: 5.5%;
    }
    .achievements-cover{
        top: 3500px
    }
    .events-cover{
        top: 4430px
    }
    .milestones-cover{
        top: 5100px;
    }
    .info-cover{
        top: 5800px
    }
    footer{
        top: 6600px;
    }
    .researches-cover{
        top: 885px;
        width: auto;
        left: 5vw;
    }
    .patents-cover{
        top: 2000px;
        width: 100%;
    }
    /* .rankings-row */
}

@media(max-width: 1000px) and (min-width: 857px){
    header{
        width: 100%;
    }
    .HeaderUpper{
        width: 100%;
    }
    nav{
        font-size: 13px;
    }
    .stats{
        top: 580px;
        scale: 0.7;
        left: 5.3%;
    }
    #bg-image, #bg-image2 {
        width: 100%;
        top: 78px;
    }

    .socials{
        width: 100%;
        top: 106px;
    }
    main p{
        top: 230px;
    }
    .researches-cover{
        top: 780px;
        width: 90%;
    }
    .patents-cover{
        top: 1955px;
        width: 90%;
        left: 2%;
    }
    .GrantedPatentsImgShadow{
        display: none;        
    }
    .GrantedPatentsImg{
        left: 320px;
    }
    #patent-detail1{
        padding-top: 400px;
        /* padding-left: 50px; */
    }
    .rankings{
        top: 2950px
    }
    .achievements-cover{
        top: 3450px;
    }
    .events-cover{
        top: 4420px
    }
    .milestones-cover{
        top: 5100px;
    }
    .info-cover{
        top: 5950px;
    }
    footer{
        top: 6730px;
    }
    .rankings-row{
        scale: 0.8;
    }
    .rank-item{
        scale: 0.9;
    }
}
@media(max-width: 883px) and (min-width: 857px){
    nav{
        padding-left: 0px;
    }
    .researches-cover{
        /* top: 685px; */
        width: 90%;
    }
    main p{
        scale: 0.8;
    }
    #patent-detail1{
        /* position: absolute;
        width: 60%;
        top: 190px;
        left: 46%; */
    }
    .GrantedPatentsImgShadow{
        display: none;        
    }
    #patent-detail1{
        padding-top: 300px;
    }
    .chevron-patents{
        /* top: 15px; */
        width: 10px;
        padding-top: 15px;
    }
    .GrantedPatentsImgShadow{
        display: wrap;
        width: 42%;
    }
    .GrantedPatentsImg{
        left: 280px;
        top: 220px;
        scale: 1.4;
    }
    .patents-carousel{
        padding-right: 0px;
        /* top: 15px; */
    }
    .rankings{
        top: 2885px;
        scale: 0.9;
        width: 100%;;
        left: -1vw;
    }
    .achievements-cover{
        width: 100%;
        
    }.events-cover{
        width: 100%;
        top: 4476px;
    }
    .milestones-cover{
        top: 5028px;
        width: 100%;
    }
    .info-cover{
        width: 100%;
        top: 5655px;
    }
    footer{
        top: 6445px;
        width: 100%;
    }
    
}
@media(max-width: 857px) and (min-width: 768px){
    nav{
        font-size: 11.5px;
    }
    .HeaderUpperContent{
        gap:0.1px;
    }
    header{
        width: 100%;
    }
    .HeaderUpper{
        width: 100%;
    }
    #bg-image, #bg-image2{
        top: 120px;
        scale: 1;
    }
    .socials{
        width: 100%;
        top: 110px;
    }
    main p{
        top: 217px;
    }
    .stats{
        top: 620px;
        scale: 0.7;
        left: 5%;
    }
    .researches-cover{
        top: 735px;
        width: 90%;
    }
    .patents-cover{
        top: 1800px;
    }
    .patent-detail1{
        width: 100%;
    }
    .GrantedPatentsImgShadow{
        display: none;        
    }
    .GrantedPatentsImg{
        left: 267px;
    }
    #patent-detail1{
        padding-top: 350px;
    }
    .rankings{
        top: 2774px;
        scale: 0.75;
        width: 100%;;
        left: 0.5vw;
    }
    .rankings-row{
        width: 100%;
        padding-left: 0px;
    }
    .rank-item{
        scale: 0.8;
    }
    .achievements-cover{
        width: 100%;
        top: 3300px;
    }.events-cover{
        width: 100%;
        top: 4326px;
    }
    .milestones-cover{
        top: 4878px;
        width: 100%;
    }
    .info-cover{
        width: 100%;
        top: 5505px;
    }
    footer{
        top: 6340px;
        width: 100%;
    }
}
@media (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
    }

    .HULmob{
        display: flex;
        gap: 5px;
    }

    .HULeft{
        display: none;
    }

    #search-icon {
        display: none;
    }

    #search-icon1 {
        display: block;
    }

    .HeaderLowerContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }



    nav {
        display: none;
    }

    #iitr-slogan {
        display: flex;
        justify-content: center;
    }

    #bg-image{
        display: none;
    }
    #bg-image2{
        content: url("assets/background-mobile.png");
        z-index: -4;
    }


    .stats {
        flex-wrap: wrap;
        top: 1250px;
        scale: 1;
    }
    main p{
        top: 320px;
        scale: 1.3;
    }
    .stats :nth-child(3){
        order:4;
    }

    .stats div {
        flex: 1 0 40%;
    }

    .stats .students,
    .stats .staff{
        background-color: #F8B300;
    }
    .stats .patents,
    .stats .faculty {
        background-color: #202020;
    }



    .researches-cover{
        top: 1670px;
    }
    .research-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .block1 {
        grid-column: span 1;
        grid-row: span 3;
        background-image: url("assets/block1.jpeg");
        height: 300px;
    }
    
    .block2 {
        grid-column: span 1;
        grid-row: span 5;
        background-image: url("assets/block4.png");
    }
    
    .block3 {
        grid-column: span 1;
        grid-row: span 3;
        background-image: url("assets/block2.png");
        height: 300px;
    }
    
    .block4 {
        grid-column: span 1;
        grid-row: span 3;
        background-image: url("assets/block3.png");
    }
    
    .block5 {
        grid-column: span 1;
        grid-row: span 2;
        background-image: url("assets/block6.jpeg");
        height: 200px;
    }
    
    .block6 {
        grid-column: span 1;
        grid-row: span 3;
        background-image: url("assets/block7.png");
        height: 300px;
    }
    
    .block7 {
        grid-column: span 1;
        grid-row: span 5;
        background-image: url("assets/block5.svg");
    }
    
    .block8 {
        grid-column: span 1;
        grid-row: span 2;
        height: 200px;
        background-image: url("assets/block8.png");
    }
    .patents-cover{
        top: 3200px;
        width: 98%;
    }
    .GrantedPatentsImg{
        position: relative;
        height: 200px;
        width: 270px;
        top: 39px;
        left: -84px;
        scale: 1.35;
    }
    .GrantedPatentsImgShadow{
        display: none;
    }
    #patent-detail2{
        padding-top: 134px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .chevron-patents{
        width: 1px;
    }
    #patent-detail1{
        display: none;
    }
    #patent-detail2{
        display: block;
    }
    .patentsBtn{
        display: flex;
        justify-content: space-between;
    }

    .rankings{
        top: 4000px;
        width: 100%;
    }
    .rankings-row{
        flex-direction: column;
    }
    .rank-item{
        border-right: none;
        border-bottom: 1px solid #C4C4C4;
        padding-top: 4%;
        padding-bottom: 4%;
        scale:1;
    }
    #rank-foot{
        display: none;
    }
    #rank-head{
        display: flex;
        text-align: center;
    }



    .achievements-cover{
        top: 5534px;
        width: 100%;
        background-color: #F8B300;
    }
    .achievement-item:nth-of-type(1),
    .achievement-item:nth-of-type(3){
        display: none;
    }
    .achievement-item div{
        font-size: 1.8em;
    }


    .events-cover{
        top: 6464.6px;
        width: 100%;
        background-color: #232323;
    }
    .events{
        border-radius: 0;
    }
    .events-img{
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .event{
        padding-bottom: 0px;
    }
    .events-carousel{
        flex-direction: column;
    }
    .events-list{
        order: 2;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    #event-detail{
        font-size: 1.6em;
        order: 3;
        opacity: 0.8;
        display: block;
    }


    .milestones-img{
        padding: 0 0 0 0;
        scale: 1;
    }
    .spacebtwn{
        display: none;
    }
    .milestones-cover{
        top: 7315.2px;
        width: 100%;
    }
    .milestones-carousel{
        gap: 10px;
    }
    #milestone-detail1{
        display: none;
    }
    #milestone-detail2{
        display: block;
        width: 84%;
        padding-left: 59px;
    }



    .info-cover{
        top: 8408.8px;
        width: 100%;
    }
    .info{
        flex-direction: column;
    }
    .noticeboard-heading{
        width: 100%;
    }
    .board-list{
        background-color: #FACB5559;
    }
    .board-item div{
        font-size: 1.2em;
    }
    .upcoming-events-heading{
        margin-top: 5%;
        width: 100%;
    }



    footer{
        top: 9444px;
        width: 100%;
    }
    .footer-row1{
        flex-direction: column;
        width: 80vw;
    }
    .footer-row2{
        flex-direction: column;
        background-color: #121212;
        width: 100vw;
    }
    #madeby{
        display: flex;
        justify-content: center;
        background-color: #1A1A1A;
        padding: 0px;
        width: 100vw;
    }
    #footer-actions{
        padding: 10px;
    }
    .footer-row3{
        background-color: #292929;
    }
}

@media(max-width:651px) and (min-width:360px){
    #bg-image2{
        top: 190px;
    }
    main p{
        scale: 0.8;
        left: -2vw;
    }
    .stats{
        top: 825px;
    }
    .researches-cover{
        top: 1410px;
    }
    .rankings{
        top: 3802px;
    }
    .achievements-cover{
        top: 5334px;
    }
    .events-cover{
        top: 6264px;
    }
    .milestones-cover
    .patents-cover{
        top: 2950px;
    }
    .GrantedPatentsImgShadow{
        display: none;
    }
}

@media(max-width: 500px){
    main p{
        scale: 0.6;
        left: -2vw;
    }
    .rankings{
        top: 4002px;
    }
    .GrantedPatentsImgShadow{
        display: none;
    }
}

@media(max-width: 360px){
    .HULmob{
        scale: 0.7;
    }
    .HURight{
        scale: 0.7;
    }
    .HeaderUpper{
        width: 124.5vw;;
    }
    header{
        width: 124.5%;
    }
    .header-logo{
        scale: 0.7;
    }
    #bg-image, #bg-image2{
        top: 57vw;
        width: 106.2vw;;
    }
    .socials{
        width: 124vw;
    }
    main p{
        scale: 0.6;
        left: -2vw;
    }
    .stats{
        top: 845px;
        width: 101vw;;
    }
    .researches-cover{
        top: 1458px;
    }
    .patents-cover{
        top: 3000px;
    }
    .rankings{
        top: 3955.2px;
        width: 121vw;
    }
    .achievements-cover{
        top: 5452px;
        width: 124vw;
    }
    .events-cover{
        top: 6243.2px;
        width: 124vw;
    }
    .milestones-cover{
        top: 6740px;
        width: 124vw;
    }
    .info-cover{
        top: 7571.6px;
        width: 124vw;
    }
    footer{
        top: 8792px;
        width: 124vw;
    }
    .footer-row2,
    .footer-row3{
        left: 0px;
    }
    .block1,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7,
    .block8{
        /* height: 150px; */
        /* scale: 0.6; */
        width: 150px;
    }
}
@media(max-width: 1700px) and (min-width: 1400px){
    .spacebtwn{
        padding: 0 70px 0 70px;
    }
    .milestones-img{
        scale: 1.85;
    }
}
@media(max-width: 1400px) and (min-width: 1000px){
    .spacebtwn{
        padding: 0 50px 0 50px;
    }
    .milestones-img{
        padding-left: 70px;
        scale: 2;
    }
}
@media(max-width: 1000px) and (min-width: 768px){
    .spacebtwn{
        padding: 0 50px 0 50px;
    }
    .milestones-img{
        padding-left: 70px;
        scale: 2.4;
    }
}
